.delivery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin: 32px 0 55px 0;

}

.delivery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery__txt {
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: $mobile-width) {
  .delivery {
    grid-template-columns: 1fr;
  }
}
