.news {
  margin: 59px 0 67px 0;
}

.news__item {
  transition: 1s;
  box-shadow: none !important;
}

.news__title {
  margin-bottom: 30px !important;
}

.news__inner {
  display: grid;
  grid-template-columns: 30.7% 31% 31%;
  grid-column-gap: 30px;
}

.news__wrapper {
  position: relative;
  font-size: 13px;

}

.news__date {
  margin: 17px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 5px;
}

@media (max-width: $mobile-width) {
  .news__inner {
    grid-template-columns: 1fr;
  }

  .news__item {
    transform: scale(0);
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
  }
}
