.news {
  margin: 59px 0 67px 0;
}

.news__title {
  margin-bottom: 30px !important;
}

.news__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.news__wrapper {
  position: relative;
  font-size: 13px;

}

.news__date {
  margin: 17px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 5px;
}
