.page-header {
  margin-bottom: 30px;
}

.page-header__container {
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.page-header__inner {

  &--top {
    display: grid;
    grid-template-columns:  31% 17% 26% 1fr;
  }

  &--btm {
    display: grid;
    grid-template-columns: 69% 30%;
  }
}

.page-header__wrapper {

  &--top {
    background: $header-top-color;
    display: flex;
    padding: 8px 0 7px 0;
    align-items: center;
  }

  &--btm {
    background: $header-btm-color;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0 25px 0;
  }
}

.page-header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-header__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__link {
  @include link;
  padding: 5px;
}

.page-header__select {
  border: none;
  background: #051f37;
  font-size: 14px;
  color: #fff;
}

.page-header__tel {
  @include link;
  position: relative;
  text-transform: uppercase;
  font-family: $type-font;
  font-size: 16px;
  margin-right: 10px;
  padding-left: 30px;
  fill: rgba(255, 255, 255, 0.5);

  &:hover {
    fill: #FFC808;
  }
}

.icon-phone {
  position: absolute;
  left: 6px;
  top: 2px;
}

@media (max-width: $table-width) {
  .page-header__container {
    width: $width-container-table;
  }

  .page-header__inner{

   &--top {
     grid-template-columns:  40% 24% 36%;
   }

    &--btm {
      grid-template-columns: 100%;
    }
  }
  .page-header__list {

  }
}

@media (max-width: $mobile-width) {
  .page-header__list {
    display: flex;
    flex-direction: column;
  }

  .page-header {
    text-align: left;
  }

  .page-header__inner{
    margin-bottom: 20px;

    &--top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 7px;
      transition: .5s;
      max-height: 50px;
      transform: translate(0, -600px);
    }

    &--btm {
      justify-items: start;
      max-height: 0;
      transform: translate(-660px, 0);
      transition: .5s;
    }
  }

  .page-header__list {
    margin-bottom: 20px;
    align-items: flex-start;
  }

  .toggle-active {
    max-height: 300px;
    transform: translate(0, 0);
  }

  /*Бургер button*/
  .toggle {
    width: 40px;
    z-index: 100;
    height: 40px;
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 1s;

    &--btm {
      top: 10px;
    }

    span {
      background: #fff;
      display: block;
      width: 25px;
      height: 4px;
      border-radius: 10px;
      margin: 3px;
      transition: 1s;
    }

    &.toggle-open {
      transform: rotate(360deg);

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        width: 30px;
        transform: rotate(-45deg) translateX(7px) translateY(-7px);
      }

      span:nth-child(1) {
        width: 30px;
        transform: rotate(45deg) translateX(7px) translateY(7px);
      }
    }
  }
}
