.page-footer {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &--btm {
    display: grid;
    grid-template-columns: 42% 38% 26%;
  }
}

.page-footer__container {
  width: 1040px;
  margin: 0 auto;
}

.page-footer__top {
  background: #051F37;
  padding-bottom: 59px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 7px;
    width: 1000px;
    height: 500px;
    background: url("../img/pattern.png");
  }
}

.page-footer__btm {
  background: #041729;

  p {
    margin: 11px 0;
  }
}

.page-footer__list {

  @include reset-list;
}

.page-footer__wrapper-img {
  margin: 60px 0 29px 0;
}

.page-footer__link {
  @include link;
}

.page-footer__sect {
  margin: 64px 0 0 90px;
  z-index: 100;
}

.page-footer__title {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.page-footer__item {
  margin-bottom: 9px;
}

.social__list {
  display: flex;
  margin-top: 34px;

  li {
  cursor: pointer;
   margin-right: 20px;
  }
}

@media (max-width: $table-width) {
  .page-footer__desc {
    grid-column: 1 /-1;
  }

  .page-footer__top {
    &::before {
      content: none;
    }
  }

  .page-footer__container {
    width: $width-container-table;
  }
}


@media (max-width: $mobile-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: column;

    &--btm {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
