.sing {
  background: url("../img/bg-sing.png");
  background-size: cover;
  display: flex;
  margin-top: 72px;
  position: relative;
  padding-bottom: 35px;
}

.sing__img {
  position: absolute;
  right: 0;
}

.sing__title {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  margin: 40px 278px 9px 58px;

  span {
    color: #FFC808;
  }
}

@media (max-width: $mobile-width) {
  .sing {
    text-align: center;
    justify-content: center;
  }

  .sing__title {
    margin: 25px 0 0 0;
  }

  .sing__img {
    display: none;
  }

  .sing__link {
    margin-left: 0 !important;
  }
}
