.slider {
  background: url("../img/bg-slider.png") no-repeat;
  margin-top: 30px;
  position: relative;
  background-size: cover;
}

.slider__wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.slider__link {
  line-height: 18px;
  color: #0E5FAD;
  background: #FFC808;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 17px 60px 17px 45px;
  margin-left: 5px;
  transition: .5s;

  &:hover {
    box-shadow: none;
  }
}

/*.slider__img {
  position: absolute;
  top: 0;
  left: 0;
}*/

.slider__title {
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 77px 0 46px 0;
}

.slider__control {
  position: absolute;
  bottom: 20px;
  left: 46%;
}

.slider__label {
  width: 20px;
  cursor: pointer;
}

.slider__input {
  position: relative;
  display: none;

  + label::after {
    content: "";
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
  }

  &:checked +label::after  {
    background: rgba(255, 255, 255, 1);
  }
}

.slider__list {
  @include reset-list;
  display: flex;
}

.showed{
    opacity: 1;
    position: static;
}

@media (max-width: $table-width) {
  .slider__title {
    font-size: 42px;
  }
}

@media (max-width: $mobile-width) {
  .slider__img {
    display: none;
  }

  .slider__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .slider__title {
    margin-top: 18px;
  }

  .slider__control {
    left: 40%;
  }
}
