.slider {
  background: url("../img/bg-slider.png") no-repeat;
  margin-top: 30px;
  position: relative;
  background-size: cover;
}

.slider__wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  left: 0;
  transition: opacity 1s;
}

.slider__link {
  line-height: 18px;
  color: #0E5FAD;
  background: #FFC808;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 17px 60px 17px 45px;
  margin-left: 5px;
  transition: .5s;

  &:hover {
    box-shadow: none;
  }
}

/*.slider__img {
  position: absolute;
  top: 0;
  left: 0;
}*/

.slider__title {
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 77px 0 46px 0;
}


.slider__list {
  @include reset-list;
  display: flex;
}

#active-slide {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    user-select: none;
}

#slider{
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 1s;
}

.slide{
    width: calc(100%/4);
    list-style: none;
    float: left;
}

.Radio-But {
    padding-bottom: 10px;
    text-align:center;

  .ctrl-select {
    margin-right: 10px;
    cursor: pointer;
    transition: .5s;
    display:inline-block;
    width:16px;
    height:16px;
    overflow:hidden;
    text-indent:-9999px;
    width: 10px;
    height: 10px;
    top: 2px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);

    &:hover {
      background: rgba(255, 255, 255, 1);
    }

    &.active {
      background: rgba(255, 255, 255, 1);
    }
  }
}

@media (max-width: $table-width) {
  .slider__title {
    font-size: 42px;
  }
}

@media (max-width: $mobile-width) {
  .slider__img {
    display: none;
  }

  .slider__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .slider__title {
    margin-top: 18px;
  }

  .slider__control {
    left: 40%;
  }
}
