@import "_mixin";
@import "variable";
@import "page-header";
@import "user";
@import "nav";
@import "sidebar";
@import "cart";
@import "page-main";
@import "search";
@import "slider";
@import "delivery";
@import "product";
@import "intro";
@import "sing";
@import "news";
@import "partners";
@import "form";
@import "page-footer";
@import "rating";
@import "control";
@import "crumbs";
@import "normalize";
@import "filter";
@import "pagination";
@import "specifications";
@import "card";
@import "review";
@import "wholesaler";
@import "contact";

a {
  &:hover {
    text-decoration: none;
  }
}

body {
  font-family: $type-font;
  font-size: 14px;
}

@font-face {
  font-family: "Europe";
  src: url("../font/Europe.ttf.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

.container {
  padding: 0;
  width: 1040px;
  margin: 0 auto;
}

.control {
  position: absolute;
  right: 0;
  top: 0;
}

.visually-hidden {
  display: none;
}

.title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  color: #0E5FAD;
  margin-bottom: 0;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(14, 95, 173, 0.3);
}

.link {
  background: #FFC808;
  display: inline-block;
  margin: 20px 0 0 60px;
  line-height: 14px;
  color: #0E5FAD;
  padding: 19px 62px;
}

.active {
  opacity: 1;
  position: static;
  transform: scale(1);
}

@media (max-width: $mobile-width) {

  img {
    max-width: 100%;
  }

  .container {
    width: 100%;
  }
}

