.user__list {
  @include reset-list;
  display: flex;
  justify-content: flex-end;
}

.user__link {
  @include link;
  padding: 5px 2px 5px 10px;
  fill: rgba(255, 255, 255, 0.8);

  &:hover {
    fill: #FFC808;
  }
}

.icon-padlock {
  position: absolute;
  top: 4px;
  left: -2px;
}

.user__item {
  &:nth-child(1) {
    .user__link {
      position: relative;
      padding: 5px 13px 5px 20px;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 25px;
        background: #fff;
        top: 1px;
        right: 1px;
      }
    }
  }
}

@media (max-width: $table-width) {
  .user {
    grid-row: 2;
    grid-column: 3;
    grid-template-columns: 100%;
  }

  .user__item {
    &:nth-child(1) {
      .user__link {
        &::after {
          content: none;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .user__list {
    flex-direction: column;
  }
}
